/my_code/CNN_LSTM/runs/
/my_code/CNN_LSTM/models/
/my_code/CNN_LSTM/old/
/data/genspamcollection/
/data/lingspamcollection/
/data/smsspamcollection/
/my_code/wordEmbeddings/genspam_dev
/my_code/wordEmbeddings/genspam_test
/my_code/wordEmbeddings/genspam_train
/my_code/wordEmbeddings/lingspam_dev
/my_code/wordEmbeddings/lingspam_test
/my_code/wordEmbeddings/lingspam_train
/my_code/wordEmbeddings/smsspam_dev
/my_code/wordEmbeddings/smsspam_test
/my_code/wordEmbeddings/smsspam_train
/my_code/word2vec/GoogleNews-vectors-negative300.bin
/my_code/glove/glove.840B.300d.txt
/my_code/glove/glove.twitter.27B.200d.txt
